
{% extends 'base.html' %}
{% block content %}


    <style>

        body{
            background-color: aliceblue;
        }

        .img-box {
            position: relative;
            overflow: hidden;
            border-radius: 10px;
        }
        .one {
    
            background-color: aliceblue;
            width: 100% !important;
        }

        .swiper-wrapper {
            height: max-content !important;

            width: max-content;
        }

        .swiper-button-next,
        .swiper-button-prev {
            top: 25%;
            z-index: 1000;
        }

        .swiper-button-next {
            right: -0px !important;
        }

        .swiper-button-prev {
            left: 0px !important;
        }

        .swiper-button-prev:after,
        .swiper-rtl .swiper-button-next:after {
            content: "" !important;
        }

        .mySwiper {
            max-width: 320px !important;
            margin: 0 auto !important;
        }

        .swiper-button-next:after,
        .swiper-rtl .swiper-button-prev:after {
            content: "" !important;
        }

        .mySwiper .swiper-slide.swiper-slide-thumb-active>.swiper-slide\:w-16 {
            --tw-scale-x: 1;
            --tw-scale-y: 1;
            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        }

        .mySwiper .swiper-slide.swiper-slide-thumb-active>.swiper-slide\:border-indigo-600 {
            --tw-border-opacity: 1;
            border-color: rgb(79 70 229 / var(--tw-border-opacity));
        }

        .teamswiper .swiper-wrapper {
            height: max-content !important;
            padding-bottom: 64px !important;
        }

        .teamswiper .swiper-horizontal>.swiper-scrollbar,
        .teamswiper .swiper-scrollbar.swiper-scrollbar-horizontal {
            max-width: 140px !important;
            height: 3px !important;
            bottom: 25px !important;
            left: 50% !important;
            transform: translateX(-50%) !important;
        }

        .teamswiper .swiper-pagination-fraction {
            bottom: 0 !important;
            padding-top: 16px !important;
        }

        .teamswiper .swiper-slide.swiper-slide-active>.slide\:border-indigo-600 {
            --tw-border-opacity: 1;
            border-color: rgb(79 70 229 / var(--tw-border-opacity));
        }

        .teamswiper .swiper-pagination-total {
            color: rgb(156 163 175) !important;
        }

        .teamswiper .swiper-scrollbar-drag {
            background: rgb(79 70 229);
        }

        .teamswiper .swiper-pagination-fraction {
            bottom: 0 !important;
        }

        .teamswiper .swiper-button-prev:after,
        .teamswiper .swiper-rtl .swiper-button-next:after {
            content: '' !important;
        }

        .teamswiper .swiper-button-prev {
            top: 93% !important;
            left: 35% !important;
            z-index: 100 !important;
        }

        .teamswiper .swiper-button-next {
            top: 93% !important;
            right: 35% !important;
            z-index: 100 !important;
        }

        .teamswiper .swiper-button-next:after,
        .teamswiper .swiper-rtl .swiper-button-prev:after {
            content: '' !important;
        }

        .teamswiper .swiper-button-next svg,
        .teamswiper .swiper-button-prev svg {
            width: 24px !important;
            height: 24px !important;
        }
    </style>

        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative text-center">
            <h1
                class="max-w-2xl mx-auto text-center font-manrope font-bold text-4xl  text-gray-900 mb-5 md:text-5xl md:leading-normal">
                Control your Finances with our <span class="text-indigo-600">Smart Tool </span>
            </h1>
            <p class="max-w-sm mx-auto text-center text-base font-normal leading-7 text-gray-500 mb-9">
                <span id="typed-text1" class="font-normal text-xl leading-8 text-gray-500 max-lg:text-center max-w-2xl mx-auto"></span>
<br>

            </p>


        </div>
    </section>

    <section class="py-12 bg-white">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <h2 class="text-3xl font-extrabold text-gray-900 text-center mb-8">Customer Groups</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                <div class="bg-gray-100 p-6 rounded-lg shadow-lg">
                    <h3 class="text-xl font-bold text-indigo-600 mb-4">Cluster 0</h3>
                    <p class="text-gray-700">Age: 54, older (Around)</p>
                    <p class="text-gray-700">Medium annual income</p>
                    <p class="text-gray-700">Medium annual spend</p>
                </div>
                <div class="bg-gray-100 p-6 rounded-lg shadow-lg">
                    <h3 class="text-xl font-bold text-indigo-600 mb-4">Cluster 1</h3>
                    <p class="text-gray-700">Age: 32, young (Around)</p>
                    <p class="text-gray-700">High annual income</p>
                    <p class="text-gray-700">High annual spend</p>
                </div>
                <div class="bg-gray-100 p-6 rounded-lg shadow-lg">
                    <h3 class="text-xl font-bold text-indigo-600 mb-4">Cluster 2</h3>
                    <p class="text-gray-700">Age: 43, older (Around)</p>
                    <p class="text-gray-700">Medium annual income</p>
                    <p class="text-gray-700">Medium annual spend</p>
                </div>
                <div class="bg-gray-100 p-6 rounded-lg shadow-lg">
                    <h3 class="text-xl font-bold text-indigo-600 mb-4">Cluster 3</h3>
                    <p class="text-gray-700">Age: 40, middle (Around)</p>
                    <p class="text-gray-700">High annual income</p>
                    <p class="text-gray-700">Low annual spend</p>
                </div>
                <div class="bg-gray-100 p-6 rounded-lg shadow-lg">
                    <h3 class="text-xl font-bold text-indigo-600 mb-4">Cluster 4</h3>
                    <p class="text-gray-700">Age: 25, young (Around)</p>
                    <p class="text-gray-700">Low annual income</p>
                    <p class="text-gray-700">High annual spend</p>
                </div>
        </div>
    </section>



    <section class="py-12 bg-white">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative teamswiper py-12 bg-white">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-9">
                <div class="lg:pl-[100px] flex items-center order-1 lg:order-2">
                    <div class="data w-full">
                        <h2 class="font-manrope font-bold text-4xl lg:text-5xl text-black mb-9 max-lg:text-center relative">
                            Our Mission
                        </h2>
                        <p class="font-normal text-xl leading-8 text-gray-500 max-lg:text-center max-w-2xl mx-auto">
                            Our mission is to provide the best financial tools to help you manage your wealth effectively.
                        </p>
                        <span id="typed-text" class="font-normal text-xl leading-8 text-gray-500 max-lg:text-center max-w-2xl mx-auto"></span>
                    </div>
                </div>
                <div class="img-box order-2 lg:order-2">
                    <img src="https://www.solulab.com/wp-content/uploads/2018/04/growth-tracking.png" alt=""
                        class="mx-auto object-cover" width="300">
                </div>
            </div>
        </div>

        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative teamswiper py-12 bg-white">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-9">
                <div class="img-box">
                    <img src="https://repository-images.githubusercontent.com/603740253/07b54528-030a-4679-bf30-cb5d9b30c4b9" alt=""
                        class="max-lg:mx-auto w-full object-cover">
                </div>
                <div class="lg:pl-[100px] flex items-center">
                    <div class="data w-full">
                        <h2 class="font-manrope font-bold text-4xl lg:text-5xl text-black mb-9 max-lg:text-center relative">
                            About Us
                        </h2>
                        <p class="font-normal text-xl leading-8 text-gray-500 max-lg:text-center max-w-2xl mx-auto">
                            <span id="typed-text2" class="font-normal text-xl leading-8 text-gray-500 max-lg:text-center max-w-2xl mx-auto"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative teamswiper py-12 bg-white">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-9">
                <div class="lg:pl-[100px] flex items-center">
                    <div class="data w-full">
                        <img src="https://cdnimg.smackcoders.com/wp-content/uploads/2024/07/benefits-of-customer-segmentation-1024x555.webp" alt=""
                            class="block lg:hidden w-full mb-9 mx-auto object-cover">
                        <h2 class="font-manrope font-bold text-4xl lg:text-5xl text-black mb-9 max-lg:text-center">OBJECTIVE</h2>
                        <p class="font-normal text-xl leading-8 text-gray-500 max-lg:text-center max-w-2xl mx-auto">
                            <span id="typed-text3" class="font-normal text-xl leading-8 text-gray-500 max-lg:text-center max-w-2xl mx-auto"></span>
                            
                        </p> 
                    </div>
                </div>
                <div class="img-box ">
                    <img src="https://cdnimg.smackcoders.com/wp-content/uploads/2024/07/benefits-of-customer-segmentation-1024x555.webp" alt="About Us tailwind page"
                        class="hidden lg:block object-cover">
                </div>
            </div>
        </div>
    </section>


    <section class="py-12 bg-white">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="bg-gray-100 p-6 rounded-lg shadow-lg">
        <h3 class="text-xl font-bold text-indigo-600 mb-4">Data</h3>
{{ data|safe }}
</div>
</div>
</section>

        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script>
            var typed = new Typed('#typed-text', {
                strings: ["Manage your wealth", "Achieve financial freedom", "Plan for the future"],
                typeSpeed: 50,
                backSpeed: 25,
                loop: true
            });
            var typed1 = new Typed('#typed-text1', {
                strings: ["Interact intelligently", "and discover a better way", "to manage your entire wealth easily."],
                typeSpeed: 50,
                backSpeed: 25,
                loop: true
            });
            var typed2 = new Typed('#typed-text2', {
                strings: ["  Customer Classification helps segment customers into groups based on characteristics, behavior, and preferences, enabling targeted offers and services for better understanding and engagement."],
                typeSpeed: 50,
                backSpeed: 25,
                loop: true
            });
            var typed3 = new Typed('#typed-text3', {
                strings: [" The objective of Customer Classification is to enhance understanding of your customers by segmenting them into groups based on their characteristics, behavior, and preferences. This enables targeted offers and services for each customer group. "],
                typeSpeed: 50,
                backSpeed: 25,
                loop: true
            });
        </script>



    
    <script src="https://cdn.jsdelivr.net/npm/pagedone@1.1.2/src/js/pagedone.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            loop: true,
            spaceBetween: -10,
            slidesPerView: 3,
            watchSlidesProgress: true,
        });
        var swiper2 = new Swiper(".mySwiper2", {
            loop: true,
            spaceBetween: 32,
            thumbs: {
                swiper: swiper,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
    <script>
        var swiper = new Swiper(".teamswiper", {
            slidesPerView: 1,
            spaceBetween: 32,
            centeredSlides: false,
            slidesPerGroupSkip: 1,
            grabCursor: true,
            loop: true,
            keyboard: {
                enabled: true,
            },
            breakpoints: {
                769: {
                    slidesPerView: 2,
                    slidesPerGroup: 1,
                },
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            scrollbar: {
                el: ".swiper-scrollbar",
            },
            pagination: {
                el: ".swiper-pagination",
                type: "fraction",
            },
        });
    </script>
</body>
                                            
</div>
{% endblock %}
{% block js %}
<script>

</script>
{% endblock %}
{% block css %}
<style>

</style>
{% endblock %}
{% block head %}{% endblock %}
